@import "@/styles";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.separator {
  display: block;
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

.confirm-button {
  width: 280px;
}
